.doctor-nav {
    background-color: #104a6b;
    padding: 1rem;
  }
  
  .doctor-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation items */
  }
  
  .doctor-nav ul li {
    margin: 0 10px; /* Add margin between the list items */
  }
  
  .doctor-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.1rem;
  }
  
  .doctor-nav ul li a:hover {
    background-color: #acc2c9;
    border-radius: 0px;
  }
  