*{
    background-color: #E2F1E7;
}

.vertical-navbar {
    height: 100vh; /* Full viewport height */
    width: 250px;  /* Fixed width for sidebar */
    position: fixed; /* Stick the nav to the left */
    top: 0;
    left: 0;
    background-color: #343a40; /* Dark background */
    padding-top: 20px; /* Spacing from top */
  }
  
  .vertical-navbar .nav-link {
    color: white;
    padding: 15px;
    text-align: left;
    transition: background 0.3s ease; /* Smooth background color transition */
  }
  
  .vertical-navbar .nav-link:hover {
    background-color: #495057; /* Change background on hover */
    color: white;
  }
  
  .vertical-navbar .nav-link.active {
    background-color: #007bff; /* Highlight active link */
    color: white;
  }

  .issued-prescriptions-container{
    margin-left: 250px;
    padding: 50px;
  }